---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Canaris. I'm currently a high school student, and I enjoy programming, specifically
			web and app development, and gaming. I'm also interested in cybersecurity and ethical hacking.

			<br /><br />

			I also watch TV shows and movies from time to time, and a few favourites of mine are Suits and
			The Clone Wars.
		</p>
	</div>
</PageLayout>
