---
import SocialList from '@/components/SocialList.astro';
import PostPreview from '@/components/blog/PostPreview.astro';
import PageLayout from '@/layouts/Base.astro';
import { getAllPosts, sortMDByDate } from '@/utils';

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projects: { desc: string; href: string; title: string }[] = [
	{
		desc: "The website I wrote for my high school's student council",
		href: 'https://hsc-site.vercel.app/',
		title: 'HSC Site',
	},
	{
		desc: 'The website I wrote for my computing club',
		href: 'https://ec3-site.vercel.app/',
		title: 'EC3 Site',
	},
	{
		desc: 'A (half-baked) REST API frontend for codebreaker.xyz',
		href: 'https://github.com/DET171/cbr-scraper',
		title: 'Codebreaker Scraper',
	},
];
---

<PageLayout meta={{ title: 'Home' }}>
	<section>
		<h1 class="title mb-6">Hi, I'm Canaris</h1>
		<p class="mb-4">I'm currently a high school student who enjoys programming and gaming.</p>
		<p class="italic">obligatory i use arch btw</p>

		<hr class="my-8" />
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						{/* @ts-ignore */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<dl class="space-y-4">
			{
				projects.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
