@tailwind base;
@tailwind components;
@tailwind utilities;


.prose :where(code):not(:where([class~="not-prose"] *))::before {
	content: "";
}

.prose :where(code):not(:where(pre *)) {
	background-color: #cac7c7;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
	content: "";
}